body {
    font-family: cursive;
    background-color: whitesmoke;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
img {
    border: 5px solid gray;
}
#lead {
    margin: 30px 0 0 0;
    background: rgb(179, 179, 179);
    border: 1px solid gray;
    text-align: center;
    width: 300px;
    padding: 30px 30px;
    font-size: 15px;
}